.Player1 {
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Player2 {
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.Player3 {
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
}

.Player3 {
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #c885e0;
  background: -webkit-linear-gradient(to right, #cbb4d4, #d599eb);
  background: linear-gradient(to right, #cbb4d4, #9b50b6);
}

.Player4 {
    width: 500px;
    margin: 5% auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  



.Player0 {
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.player-title {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.song-info {
  margin-top: 10px;
}

.song-name,
.artist-name {
  font-size: 18px;
  color: #666;
  margin: 0;
}

.progress-bar-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-time {
  font-size: 14px;
  color: #999;
}

.progress {
  flex-grow: 1;
  height: 8px;
  margin: 0 10px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #804080;
}

.player-controls {
  margin-top: 20px;
}

.control-icon {
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
  margin: 0 10px;
}

